name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
  workflow_dispatch:

env:
  ECR_REPO: 292659698930.dkr.ecr.ap-south-1.amazonaws.com/bootcamp-dev-2-tier-flask

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region ap-south-1 \
          | docker login --username AWS --password-stdin ${{ env.ECR_REPO }}

      - name: Build & Push 
        run: |
          cd src
          docker build -t ${{ env.ECR_REPO }}:latest .
          docker push ${{ env.ECR_REPO }}:latest 
